* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.body{
    background-color: antiquewhite;

}

.comment{
    width: 30%;
    padding: 15px;
    background-color: cadetblue;
    border-radius: 30px;
    text-align: center;
}

.comment img{
    width: 250px;
    height: 200px;
}

.comment h2,h3,p{
    margin: 10px auto;
    color: yellow;
}